SF_CLIENT_ID=your_connected_app_consumer_key
SF_CLIENT_SECRET=your_connected_app_consumer_secret
SF_INSTANCE_URL=https://trailsignup-d3e50e0edc885f.my.salesforce.com
SF_API_VERSION=v66.0
SF_PROGRAM_NAME=Priceline Beauty Rewards
SF_CATALOG_NAME=Priceline Beauty Rewards Catalog
PORT=3001
NODE_ENV=development
